/* Reset margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  background-color: whitesmoke;
  color:black;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Watermark */
.pop-up-watermark {
  position: absolute;
  bottom: 0.4%;
  left: 1%;
  font-family: "Pacifico", cursive;
  color: rgba(197, 199, 210, 0.7);
  font-size: 12px;
}

/* Full Screen Container */
.full-screen {
  position: absolute;
  z-index: 1;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  background-color: var(--background-color);
  border: 3px solid #d1d8e0;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  overflow: hidden; /* Prevent content from overflowing */
}
@media (max-width: 768px) {
  .full-screen {
      left: 5%;
      right: 5%;
      top: 5%;
      bottom: 5%;
  }
}

/* Close Icon */
.pop-up-close-icon {
  position: absolute;
  top: 1.8%;
  right: 1%;
  cursor: pointer;
  background-color: #f1f2f6;
  color: var(--text-color);
  padding: 8px;
  border-radius: 50%;
  font-size: 16px;
  transition: all 0.3s ease;
}

.pop-up-close-icon:hover {
  background-color: #e0e0e0;
  color: #ff5252;
}

.pop-up-close-icon:active {
  transform: scale(0.95);
}